* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}

header {
  background-color: #3D3C9D;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header img {
  display: block;
  height: 80px;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  padding: 10px 20px;
  font-size: 3rem;
  text-decoration: none;
  color: white;
  display: block;
}
header nav ul li a i {
  padding-right: 3px;
}
header nav ul li:last-of-type a {
  background-color: white;
  color: black;
  border-radius: 5px;
}

header {
  background-color: #3D3C9D;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header img {
  display: block;
  height: 80px;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  padding: 10px 20px;
  font-size: 3rem;
  text-decoration: none;
  color: white;
  display: block;
}
header nav ul li a i {
  padding-right: 3px;
}
header nav ul li:last-of-type a {
  background-color: white;
  color: black;
  border-radius: 5px;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .control {
  width: 100%;
}
main .control button {
  transition: 0.5s;
  cursor: pointer;
  width: 48%;
  padding: 5%;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
}
main .control :nth-of-type(1) {
  margin-right: 2%;
}
main .control :nth-of-type(2) {
  margin-left: 2%;
}
main .control .click {
  border-bottom: 3px solid black;
}
main .forms {
  justify-self: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(62, 60, 157, 0.4274509804);
  height: 40.5%;
  padding: 20px;
}
main .forms .wrong {
  font-size: 1.5rem;
  position: absolute;
  bottom: 4px;
  color: red;
}
main .forms .login.hide {
  transform: translateX(110%);
  opacity: 0;
}
main .forms .login {
  transform: translateX(0%);
  transition: 0.5s;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .forms .login label {
  margin-bottom: 3px;
  font-size: 1.5rem;
}
main .forms .login input {
  font-size: 2.6rem;
}
main .forms .login a {
  font-size: 1.5rem;
  padding: 10px 0;
}
main .forms .login button {
  width: 100%;
  color: white;
  background-color: #3D3C9D;
  border: none;
  padding: 12px 0;
}
main .forms .register.hide {
  opacity: 0;
  transform: translate(-110%, -88%);
}
main .forms .register {
  transform: translate(0, -88%);
  transition: 0.5s;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .forms .register label {
  margin-bottom: 3px;
  font-size: 1.5rem;
}
main .forms .register input {
  font-size: 2.6rem;
}
main .forms .register a {
  font-size: 1.5rem;
  padding: 10px 0;
}
main .forms .register button {
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: #3D3C9D;
  border: none;
  padding: 12px 0;
}

main h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 5rem;
}
main div.announcements {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
main div.announcements .search {
  background-color: rgba(62, 60, 157, 0.0823529412);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main div.announcements .search input {
  padding: 10px;
  font-size: 4rem;
  width: 50%;
}
main div.announcements .search button {
  color: #ffffff;
  background-color: #3D3C9D;
  border: none;
  padding: 10px;
  font-size: 4rem;
  width: 15%;
}
main .categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-self: flex-start;
}
main .categories .content {
  flex-wrap: wrap;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
main .categories .content .category {
  flex-basis: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .categories .content .category i {
  cursor: pointer;
  color: #3D3C9D;
  font-size: 5vw;
}
main .categories .content .category p {
  cursor: pointer;
  margin-top: 10px;
  font-size: 2rem;
}
main .offers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(62, 60, 157, 0.0823529412);
}
main .offers .content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .offers .content .annoucement {
  position: relative;
  cursor: pointer;
  margin: 5px;
  background-color: #ffffff;
  display: flex;
  flex-basis: calc(25% - 10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
}
main .offers .content .annoucement div.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}
main .offers .content .annoucement p.title {
  padding: 10px 10px 0 10px;
}
main .offers .content .annoucement p.price {
  padding: 5px 10px 0 10px;
  font-weight: bold;
}
main .offers .content .annoucement p.location {
  font-size: 1rem;
  padding: 10px 10px 0 10px;
}
main .offers .content .annoucement p.date {
  font-size: 1rem;
  padding: 0px 10px 20px 10px;
}
main .offers .content .annoucement i.fa-cart-shopping {
  position: absolute;
  bottom: 15%;
  right: 15%;
}

main div.addannouncement {
  width: 100%;
  background-color: rgba(62, 60, 157, 0.0823529412);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main div.addannouncement input, main div.addannouncement select {
  padding: 10px;
  font-size: 3rem;
}
main div.addannouncement label {
  font-size: 2rem;
}
main div.addannouncement div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main div.addannouncement div.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .cart {
  margin-top: 5%;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
main .cart .products {
  background-color: rgba(62, 60, 157, 0.0823529412);
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .cart .products .annoucement {
  display: flex;
}
main .cart .products .annoucement p {
  padding: 10px;
}/*# sourceMappingURL=style.css.map */