
<h1>Dodaj ogłoszenie</h1>
<label for="file">Dodaj zdjęcia</label>
<input type="file" name="file">
<label for="title">Tytuł ogłoszenia</label>
<input type="text" name="title">
<label for="category">Wybierz kategorie</label>
<select name="category"></select>
<label for="description">Opis</label>
<textarea name="description"></textarea>
<h2>Kontakt do ciebie</h2>
<label for="location">Lokalizacja</label>
<input type="text" name="location">
<label for="contactPerson">Osoba kontaktowa</label>
<input type="text" name="contactPerson">
<label for="email">E-mail</label>
<input type="email" name="email">
<label for="phone" >Numer Telefonu</label>
<input type="text" name="phone">
<button>Dodaj ogłoszenie</button>

